<!DOCTYPE html>
<html>

<head>
  <title> Api endpoint</title>
  <meta name="description" content="A cool thing made with Glitch">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    body {
      background: #444;
      color: white;
    }
  </style>
</head>

<body>

  <main>
    <h1>
        API Basejump: Timestamp microservice
      </h1>
    <h2>
  Example usage:
      </h2>
    <pre>https://stripe-tie.glitch.me/December%2015,%202015</pre>
    <pre>https://stripe-tie.glitch.me//1450137600</pre>


    <h2>Example output:</h2>
    <pre>{ "unix": 1450137600, "natural": "December 15, 2015" }</pre>
  </main>
  <script src="/client.js"></script>

</body>

</html>
